<h1>Editing <%= @landmark.name %></h1>
<form action="/landmarks/<%= @landmark.id %>" method="POST">
  <label>Edit landmark:</label><br />
    <label><%= @landmark.name %></label>
    <input type="text" id="name" name="landmark[name]" value="<%=@landmark.name%>"/> <br /><br />
    <label><%= @landmark.year_completed %></label>
    <input type="text" id="year_completed" name="landmark[year_completed]" value="<%=@landmark.year_completed%>"/> <br /><br />
  <input type="submit" value="Edit Landmark" />

</form>


<!-- <h1>Editing <%= @landmark.name %></h1>
<form action="/landmarks/<%=@landmark.id%>" method="post">

  <p>
    <label for="name">Landmark Name: </label>
    <input type="text" name="landmark[name]" id="name" value="<%=@landmark.name%>">
  </p>
  <p>
    <label for="year_completed">Year Completed: </label>
    <input type="text" name="landmark[year_completed]" id="year_completed" value="<%=@landmark.year_completed%>">
  </p>
  <input type="submit" value="Edit Landmark">
</form> -->
