<h1>Editing <%= @landmark.name %></h1>
<form action="/landmarks/<%= @landmark.id %>" method="POST">
  <label>Edit landmark:</label><br />
    <label><%= @landmark.name %></label>
    <input type="text" id="name" name="landmark[name]" value="<%=@landmark.name%>"/> <br /><br />
    <label><%= @landmark.year_completed %></label>
    <input type="text" id="year_completed" name="landmark[year_completed]" value="<%=@landmark.year_completed%>"/> <br /><br />
  <input type="submit" value="Edit Landmark" />

</form>
